{% load staticfiles %}
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ head_title }}</title>
  <meta name="description" content="{{ meta_description }}">
  <meta name="author" content="Learning Equality">

  <link rel="stylesheet" href="{% static 'statiksite/css/styles.css' %}">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
  {% block extrahead %}
  {% endblock %}
</head>


<body>


      {% block headernavbar %}
      <header>
        <nav id="scrollSpyingNavbar" class="navbar navbar-custom navbar-light navbar-toggleable bg-faded fixed-top">
          <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar" aria-controls="exCollapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand text-thin" href="/">Kolibri Static Site</a>

            <div class="collapse navbar-collapse" id="exCollapsingNavbar">
              <ul class="navbar-nav ml-auto mt-2 mt-sm-0">
                <li class="nav-item">
                  <a class="nav-link" href="/">HOME</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <br/>
      <br/>
      {% endblock %}


      {% block maincontent %}

        CONTENT GOES HERE!

      {% endblock %}


      <br>
      <br>

      {% block footer %}

      {% endblock %}


  <style>
    body { padding: 3em; };
  </style>

  <script src="{% static 'statiksite/js/scripts.js' %}"></script>
</body>
</html>

