{% extends "statiksite/base.html" %}

{% block maincontent %}

<div class="container">

    <div id="maindiv">

      <div id="contentnode">

          <h3>{{ node.title }}</h3>
          <p class="descr">
              {{ node.description }}
          </p>

          {% block contentnode %}
          <p>
              <ul>
              {% for file in node.files.all %}
                <li>{{ file.get_download_filename }}</li>

              {% endfor %}
              </ul>
          </p>
          <h4>Files</h4>
          <ul>
          {% for path, file in node_files %}
            <li>
                <a href="{{ path }}">{{ file.get_download_filename }}</a>
            </li>
          {% endfor %}
          </ul>

          {% endblock %}

      </div>


    </div>

</div><!-- /.container -->
{% endblock %}