{% extends "statiksite/base.html" %}

{% block maincontent %}

<div class="container">

    <div id="maindiv">

      <div id="contentnode">

          <h3>{{ node.title }}</h3>
          <p class="descr">
              {{ node.description }}
          </p>

          <h4>Contents</h4>
          <ul>
          {% for path, child_node in node_children %}
            <li class="{{ child_node.kind }}-kind">
                <a href="{{ path }}">{{ child_node.title }} ({{ child_node.kind }})</a>
            </li>
          {% endfor %}
          </ul>



      </div>

    </div>

</div><!-- /.container -->
{% endblock %}